name: Push on Main

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'develop-project/**'

jobs:  
  push_on_main:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/medical_chatbot_web:0.1 ./develop-project 
        

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/medical_chatbot_web:0.1
     
      # - name: Deploy to Heroku
      #   uses: akhileshns/heroku-deploy@v3.12.12
      #   with:
      #     heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
      #     heroku_app_name: "medical-chatbot-web"
      #     heroku_email: "
